.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

.chat-history{
    padding: 15px;
    position: relative;
    box-shadow: 1px 0px #616369;
}

.chat-history h3{
    color: #bfbfbfab;
    margin-bottom: 20px;
}

.flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 50px;
}

.flex h1{
    font-size: 50px;
    text-align: center;
}

.hamburger{
    margin-top: auto;
    margin-bottom: auto;
    height: 40%;
    cursor: pointer;
}

.new-chat-btn{
    width: 80%;
    height: 60px;
    margin: auto;
    color: white;
    background-color: #B64FC8;
    border-radius: 20px;
    position: absolute;
    bottom: 40px;
    left: 50%; 
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    &:hover{
        background-color: transparent;
        border: 1px solid white;
    }
}

.new-chat{
    display: flex;
    justify-content: center;
}

.new-chat img{
    height: 30px;
    margin: auto 5px auto 5px;
}

.chat{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logout{
    position: relative;
    height: 100px;
    margin: 20px;
}

.logout-btn{
    width: 120px;
    position: absolute;
    right: 0;
    top: 50%; 
    transform: translateY(-50%);
    margin: auto;
    color: white;
    background-color: #B64FC8;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    &:hover{
        background-color: transparent;
        border: 1px solid white;
    }
}

.logout-section{
    display: flex;
    justify-content: center;
}

.logout-btn img{
    height: 20px;
    margin: auto 5px auto 5px;
}

.welcome-section{
    height: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.welcome{
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin: 50px;
}

.welcome h1{
    font-size: 50px;
}

.welcome-text{
    display: flex;
    flex-direction: column;
}

.morning{
    margin: 0;
}

.name{
    display: block;
    margin: 15px;
    color: #bfbfbfab;
}

.help{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ask{
    text-align: center;
}

.keyboard{
    width: 80%;
    height: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(97, 99, 105, 0.5);
    border-radius: 20px;
}

.input{
    font-size: medium;
    color: white;
    margin: auto;
    text-align: left; 
    width: 100%; 
    background-color: transparent;
    border: none;
    padding: 15px;
    &:focus {
        outline: none;
    }
}

.send{
    align-self: flex-end; 
    height: 43px;
    width: 40px;
    background-color: #B64FC8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    &:hover{
        background-color: transparent;
        border: 1px solid white;
    }
}

.send img{
    height: 20px;
}